@page
@model RecipeManager.Pages.Recipes.EditModel
@{
    ViewData["Title"] = "Edit Recipe";
}

<h1>Edit @Model.Recipe.Name</h1>

<form method="post">
    <div class="form-group col-md-5">
        <input type="hidden" asp-for="Recipe.Id" value="@Model.RecipeId" />

        <label asp-for="Recipe.Name">Recipe</label>
        <input class="form-control" asp-for="Recipe.Name" />
        <span class="alert-warning" asp-validation-for="Recipe.Name"></span><br />

        <label asp-for="Recipe.Description">Description</label>
        <textarea class="form-control" asp-for="Recipe.Description"></textarea>
        <span class="alert-warning" asp-validation-for="Recipe.Description"></span><br />

        <br />
        <input class="btn btn-primary" type="submit" value="Edit" />
    </div>
</form>