@page "{errorCode:int}"
@{ 
    ViewData["Title"] = "Error";
    int errorCode = int.Parse((string)RouteData.Values["errorCode"]);
}

<h1>Error! Status Code: @errorCode</h1>

@switch (errorCode)
{
    case 404:
        <p>No such page exists at this location</p>
        break;
    default:
        break;
}